@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
}


html{
    font-size: 62.5%;
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5b9b5;
}

.main-container .inner-div
{
    width: 40vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4); 
}

.main-container .inner-div h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}
.main-container .inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style-type: none;
}

.main-container .inner-div input{
    cursor: pointer;
}

.main-container .inner-div .submitButton, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: auto;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(140, 140, 244);
    margin-top: 3rem;
    cursor: pointer;
}

.main-container .inner-div .submitButton:hover{
    background-color: rgb(55, 55, 182);
}

.main-container .inner-div #scoreDiv{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4); 
}
.scoreArea{
    display: none;
}
